.sidepanel {
    position: fixed;
    top: 225px;
    left: 50px;
    z-index: 2;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__link {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #fff;
    }
    &__text {
        span {
            color: #fff;
            display: block;
            transform: rotate(-90deg) translate(-35%, -260%);
            width: 150px;
            font-weight: bold;
        }
        height: 150px;
        width: 25px;
    }
}